<!DOCTYPE html>
<head>
    <style>
 

        body {
            min-width: 720px;
            min-height: 960px;
            font-size: 45px; /* Change font size as needed */
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        /* Adjustments for smaller screens */
        @media screen and (max-width: 1080px) and (min-height: 960px) {
            body {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }
            /* Adjust specific elements for smaller screens if needed */
            #map_selection,
            #choosemap,
            #timelong,
            #channel,
            #autofire,
            #btn {
                width: 80%; /* Adjust width as needed */
                margin: 5px 0;
                /* Add any other specific styles as needed */
            }
        }

        /* Additional styles for specific elements if needed */
        #map_selection,
        #choosemap,
        #timelong,
        #channel,
        #autofire,
        #btn {
            font-size: 34px; /* Change font size for select elements */
            /* Add any other specific styles as needed */
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.4.1.js";
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous">;


    
    window.onpageshow = function (event) {
        if (event.persisted) {
            window.location.reload()
        }
    };
    

    </script>

</head>

<body>

    <div >
        <form>
            <label>請選擇練等地區：</label>
            <select name="map_selection" id="map_selection" 
                    onchange="changefield('map_selection',choosemap,'/changeselectfield/')">
                {% for mainmap in mapdata %}
                    <option value="{{ mainmap }}"> {{ mainmap }} </option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div class="am-u-lg-3 am-u-md-3 am-u-sm-3 am-u-sm-offset-3">
        <form class="am-form">
            <label for="zhekou">請選擇地圖：</label>
            <select name="choosemap" id="choosemap">
                 {# 这里空着 等待获取后端返回的数据再写 #}
            </select>
            <br>
        </form>
    </div>
    <div>
        <form>
            <label>請選擇時長：</label>
            <select name="timelong" id="timelong">
                {% for timelong in timelongdata %}
                    <option value="{{ timelong }}"> {{ timelong }} </option>
                {% endfor %}
            </select>
            <br>
        </form>
    </div>
    <div>
        <form>
            <label>請選擇頻道：</label>
            <select name="channel" id="channel">
                {% for channel in channeldata %}
                    <option value="{{ channel }}"> {{ channel }} </option>
                {% endfor %}
            </select>
            <br>
        </form>
    </div>
    <div>
        <form>
            <label>燃燒施放方式：</label>
            <select name="autofire" id="autofire">
                {% for autofire in autofiredata %}
                    <option value="{{ autofire }}"> {{ autofire }} </option>
                {% endfor %}
            </select>
            <br>
            <li style="font-size: 18px; color: red;">!補燒 : 補放燃燒 (租用剩餘時間低於30分鐘無法使用!補燒 租30分勿選自行放燒)</li>
            <li style="font-size: 18px; color: red;">均15~20%無冷</li>
        </form>



            <a>-------------------------------</a>
            <br/>
            <a>
                <a id ="msgtext" style="color: red;"></a> 
                
                <ul style="font-size: 25px;color: deeppink;">
                    <li>琉德輪燒　1E / 1h　LP付款碼 (8T/0.5H , 15T/H)</li>
                    <li>租用後,請直接點我交易,交易完成後會直接開始輪燒</li>
                    <li>直接點交易,不要再問多少錢　僅以下三隻,別交易錯人了</li>
                    <li>ID:拉拉拉拉月月　ID:我不要菈菈了　ID:打HD專用0002</li>                   
                    <li>LP付款方式:(LP付款完後,點選輪燒角色交易並直接按確認 才會開始輪燒)</li>  
                    <li style="font-size: 18px; color: red;">LP付款 請用 "line裡面的QR" 掃以下QR碼</li> 
                    <!-- <a href="https://cdn.discordapp.com/attachments/611543278474493982/1204701275384717332/IMG_3862.jpg?ex=65d5b07e&is=65c33b7e&hm=905e09e0d974840903acb1f9ea197b2757b7e7589508f3f998be394d2c562b41&"><img src="https://cdn.discordapp.com/attachments/611543278474493982/1204701275384717332/IMG_3862.jpg?ex=65d5b07e&is=65c33b7e&hm=905e09e0d974840903acb1f9ea197b2757b7e7589508f3f998be394d2c562b41&" width="130" height="130" > </a>          -->
                    <img src="https://github.com/a6428775/flask/blob/main/templates/LinepayQR.jpg?raw=true" width="130" height="130"/>
                </ul>
            </a>
            <a>-------------------------------</a>
            
            
    </div>
    <div>
        <input id="userid" type="hidden" value="{{ userid }}">
        <button class="btn" id="btn1" onclick="submitForm()" style="padding: 15px;font-size: larger;" >確認送出</button>
        <a>　　</a>
         
        <button class="btn" id="btn2" onclick="exitForm()" style="padding: 15px; font-size: larger;">離開此頁</button>
    </div>
    <!-- Your existing script and other elements -->
    <script>

        // Function to handle form submission
        function submitForm() {
            
            // Implement your form submission logic here
            var map_selection2 = $(map_selection).val();
            var choosemap2 = $(choosemap).val();
            var timelong2 = $(timelong).val();
            var channel2 = $(channel).val();
            var userid2 =  $(userid).val() ;
            var autofire2 =  $(autofire).val() ;

            console.log('Form submitted!');
            console.log(map_selection2+"-"+choosemap2,timelong2,channel2,userid2,autofire2);

            if (choosemap2 == null) {
                $(msgtext).empty()
                $(msgtext).append("請選擇地圖")
            }else if (timelong2 == null){
                $(msgtext).empty()
                $(msgtext).append("請選擇時長")
            }else if(channel2 == null){
                $(msgtext).empty()
                $(msgtext).append("請選擇幾頻道")
            }else if(autofire2 == null){    
                $(msgtext).empty()
                $(msgtext).append("請選擇燃燒施放方式")                
            }else{
                document.getElementById("btn1").disabled=true;
                document.getElementById("btn2").disabled=true;

                var formdata;
                if (map_selection2 == "200等以下"){
                    formdata = [choosemap2,timelong2,channel2,userid2,autofire2];
                }else{
                    formdata = [map_selection2+"-"+choosemap2,timelong2,channel2,userid2,autofire2];
                }
                
                
                // formdata={
                //     "test":"test"
                // }
                $.post({ //发起ajax请求
                        url: "https://flask-3ey7.onrender.com/getform",
                        // url: "http://127.0.0.1:5000/getform",    //本機測試用
                        type: "POST",
                        data: JSON.stringify(formdata),
                        // {#dataType:'json'#}
                        contentType: "application/json; charset=UTF-8",
                        
                        success: function (data) {
                            if (data == "success"){
                                console.log('success');
                                var test = $(msgtext)
                                test.append("成功,前往該地圖中,可直接關閉表單")
                            }else{
                                console.log('false')
                                var test = $(msgtext)
                                test.append("目前3組皆出租中 OR 非下一位預約租用者<br />請使用查詢選單 or !查詢出租狀況 查看剩餘時間") 

                            }
                            
                        },
                        error:function (data) {
                            console.log('false')
                        }
                    })

            }

            // You can add your form submission code or actions here
        }

        // Function to handle exit action
        function exitForm() {
            
            // Prompt the user to confirm leaving the page
            var confirmExit = confirm("確定要離開嗎？");
            if (confirmExit) {
                // Open a new window and close it (this will prompt the user to allow closing the window)
                document.getElementById("btn1").disabled=true;
                document.getElementById("btn2").disabled=true;
                var customWindow = window.open('about:blank', '_self');
                    customWindow.close();
            }
        }
    </script>




    <script>
        function changefield(choose, id, url) {
            var data;
            var select = document.getElementById(choose);

            $(id).html(""); //每次重新选择当前列表框，就清空下一级列表框。
            for (i = 0; i < select.length; i++) {
                if (select[i].selected) { //判断被选中项
                    Name = select[i].text;
                    data = {
                        "name": Name
                    };
                    $.post({ //发起ajax请求
                        url: url,
                        type: "POST",
                        data: JSON.stringify(data),
                        // {#dataType:'json'#}
                        contentType: "application/json; charset=UTF-8",
                        
                        success: function (data) {
                            console.log(data);
                            // {#console.log(data.length);#}
                            if (data) {
                                $("<option selected='selected' disabled='disabled'  style='display: none' value=''></option> ").appendTo(id);
                                for (i = 0; i < data.length; i++) {
                                    $("<option value='" + data[i] + "'>" + data[i] + "</option>").appendTo(id);
                                }
                            } else {
                                alert('error')
                            }
                        }
                    });
                }
            }
        }
    </script>
</body>

</html>